


.accordion{
    min-width: 45%;
    max-width: 35%;
    position:absolute;
    margin-right:35%;
    margin-top:10%;
    
}

@media only screen and (max-width: 780px) {
    .accordion {
        font-size:10px;
        
        margin-left:0;
    }
  }




.accordion-header{
  color: #E0752F
}

